
.product-list-container {
  margin: 20px;
}

.product-item {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-header {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.product-header h2 {
  margin: 0;
}
